.button {
    padding: 10px 50px;

    font-family: var(--font-primary);
    font-weight: 900;
    font-size: typo(10px, 16px);

    color: var(--color-primary);
    border-radius: 25px;
    border: solid 4px var(--color-primary);

    transition: all 0.2s ease-out;
    &:hover {
        border-color: var(--color-secondary);
        color: var(--color-secondary);
        letter-spacing: 5px;
        padding: 10px 30px;
    }
}
