footer {
    background-color: var(--color-black);
    .wrapper {
        padding: 24px 0;

        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
            color: white;
        }
        .logo {
            display: flex;
        }

        nav {
            .icon {
                color: var(--color-white);
                transition: all 0.4s ease-in-out;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                background-color: rgba($color: #ffffff, $alpha: 0.1);
                border-radius: 50%;

                &:hover {
                    &:nth-child(1) {
                        a {
                            background-color: #ffffff !important;
                        }
                    }
                    .icon {
                        transform: rotateY(360deg);
                    }
                }
            }
        }
        ul {
            display: flex;
            justify-content: center;
            padding: 0;
        }

        nav li {
            padding: 8px;
        }
        .copyright {
            font-family: var(--font-secondary);
            font-size: typo(16px, 18px);
            font-weight: 500;
        }
    }
}
