.hero {
    position: relative;
    height: 95vh;
    .hero_media {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;

        z-index: -1;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bold {
        font-weight: 900;
    }
    .wrapper {
        padding: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 100%;
    }
    .hero_content {
        padding: 195px 0;

        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        height: 100%;
        width: 50%;
        h1 {
            font-size: typo(60px, 100px);
            font-family: var(--font-primary);
            color: var(--color-secondary);
            font-weight: 500;
            margin-bottom: 30px;
        }
        p {
            font-size: typo(16px, 18px);
            margin-bottom: 60px;
        }

        color: var(--color-white);
    }
    @media screen and (max-width: $breakpoint-ml) {
        .wrapper {
            padding: 20px;
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        .wrapper,
        .hero_content {
            align-items: center;
            justify-content: center;
        }
        .hero_content {
            width: 70%;
            height: 100%;
        }
    }
}
